{% extends 'base.html' %}

{% block statics %}

{% endblock %}

{% block content %}

<div class="container">

        <img class="card-img-top" src="https://www.w3schools.com/bootstrap4/img_avatar1.png" alt="Card image" >
        
          <h4 class="card-title">Product Name</h4>
          <p class="card-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque debitis sapiente alias odit non odio vitae veritatis, natus qui aliquam repellat vero animi explicabo totam magnam rem beatae dolores voluptatem?</p>
          <a href="#" class="btn btn-primary">add card 
          </a>



  

</div>
    
         

{% endblock %}