{% extends 'base.html' %}

{% block statics %}

{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        {% for product in object_list %}
            {% if product.active and product.stock%}
                <div class="col-sm-6 col-md-2">
                  <div class="card producto">
                      {% if product.imagen_set.first %}
                          <img src="{{ product.imagen_set.first.upload.url  }}" alt="Card image" style="width:200px;height:200px;">
                      {% else %}
                          <img class="card-img-top" src="https://www.w3schools.com/bootstrap4/img_avatar1.png" alt="Card image" style="width:100%">
                      {% endif %}
                    <div class="card-body">
                      <h4 class="card-title">{{ product.name }}</h4>
                      <h3 class="card-title">{{ product.amount }}</h3>
                      <p class="card-text">{{ product.description }}</p>
                      <a href="{% url 'detail' pk=product.id  %}" class="btn btn-primary">ver producto</a>
                    </div>
                  </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
  </div>







</div>



{% endblock %}